<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sustcDB2019.dao.GoodsInWarehouseMapper">
  <resultMap id="BaseResultMap" type="org.sustcDB2019.entity.GoodsInWarehouse">
    <id column="idgoods_in_warehouse" jdbcType="INTEGER" property="idgoodsInWarehouse" />
    <result column="warehouse_warehouse_id" jdbcType="INTEGER" property="warehouseWarehouseId" />
    <result column="goods_goods_id" jdbcType="INTEGER" property="goodsGoodsId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="expired_day" jdbcType="DATE" property="expiredDay" />
  </resultMap>
  <resultMap id="Goods" type="org.sustcDB2019.entity.Goods">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="origin_place" jdbcType="VARCHAR" property="originPlace" />
    <result column="preserve_time" jdbcType="INTEGER" property="preserveTime" />
    <result column="volume" jdbcType="INTEGER" property="volume" />
    <result column="refrigirated_condition" jdbcType="CHAR" property="refrigiratedCondition" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="catagory" jdbcType="VARCHAR" property="catagory" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>

  <sql id="Base_Column_List">
    idgoods_in_warehouse, warehouse_warehouse_id, goods_goods_id, amount, expired_day
  </sql>

<!--  my sql statement  -->
  <select id="selectWithPages" resultMap="Goods">
    with touchable as ( select g2.*
    from goods_in_warehouse giw join goods g2 on giw.goods_goods_id = g2.goods_id
    where giw.warehouse_warehouse_id= #{warehouseId} )

    select *
    from touchable
    limit #{itemsPerPage} offset #{pageIndex}
  </select>
  <select id="selectConditionallyWithPages" resultMap="Goods">
    with touchable as ( select g2.*
    from goods_in_warehouse giw join goods g2 on giw.goods_goods_id = g2.goods_id
    where giw.warehouse_warehouse_id= #{warehouseId} )
    select *
    from touchable t
    where t.goods_id IS NOT null
    <if test="type!=null">
    AND t.type like #{type}
    </if>
    <if test="catagory!=null">
    AND t.catagory like #{catagory}
    </if>
    <if test="name!=null">
    AND t.name like #{name}
    </if>
    <if test="refrigiratedCondition!=null">
    AND t.refrigirated_condition = #{refrigiratedCondition}
    </if>
    <if test="lowerPrice!=null">
    AND t.price &gt; #{lowerPrice}
    </if>
    <if test="upperPrice!=null">
    AND t.price &lt; #{upperPrice}
    </if>
    <if test="discount=false">
    AND discount = 1
    </if>
    <if test="orderByPriceIncrease!=null">
        <if test="orderByPriceIncrease=false">
    order by price desc
        </if>
        <if test="orderByPriceIncrease=true">
    order by price
        </if>
    </if>
    <if test="orderByDiscount=true">
    order by discount
    </if>
    limit #{itemsPerPage} offset #{pageIndex}
  </select>

<!--  <select id="selectConditionally" resultMap="Goods">-->
<!--    with touchable as ( select g2.*-->
<!--    from goods_in_warehouse giw join goods g2 on giw.goods_goods_id = g2.goods_id-->
<!--    where giw.warehouse_warehouse_id= #{warehouseId} )-->
<!--    select *-->
<!--    from touchable t-->
<!--    where t.goods_id IS NOT null-->
<!--    <if test="type!=null">-->
<!--      AND t.type like #{type}-->
<!--    </if>-->
<!--    <if test="catagory!=null">-->
<!--      AND t.catagory like #{catagory}-->
<!--    </if>-->
<!--    <if test="name!=null">-->
<!--      AND t.name like #{name}-->
<!--    </if>-->
<!--    <if test="refrigiratedCondition!=null">-->
<!--      AND t.refrigirated_condition = #{refrigiratedCondition}-->
<!--    </if>-->
<!--    <if test="lowerPrice!=null">-->
<!--      AND t.price &gt; #{lowerPrice}-->
<!--    </if>-->
<!--    <if test="upperPrice!=null">-->
<!--      AND t.price &lt; #{upperPrice}-->
<!--    </if>-->
<!--    <if test="discount=false">-->
<!--      AND discount = 1-->
<!--    </if>-->
<!--    <if test="orderByPriceIncrease!=null">-->
<!--      <if test="orderByPriceIncrease=false">-->
<!--        order by price desc-->
<!--      </if>-->
<!--      <if test="orderByPriceIncrease=true">-->
<!--        order by price-->
<!--      </if>-->
<!--    </if>-->
<!--    <if test="orderByDiscount=true">-->
<!--      order by discount-->
<!--    </if>-->
<!--    <if test="orderByExpiredDay=true">-->
<!--      order by expired_day-->
<!--    </if>-->
<!--  </select>-->
  <select id="selectByCase" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods_in_warehouse
    where idgoods_in_warehouse is not null
    <if test="org.sustcDB2019.entity.GoodsInWarehouse.idgoodsInWarehouse!=null">
      and idgoods_in_warehouse = idgoodsInWarehouse
    </if>
    <if test="org.sustcDB2019.entity.GoodsInWarehouse.warehouseWarehouseId != null">
      and warehouse_warehouse_id = #{warehouseWarehouseId,jdbcType=INTEGER}
    </if>
    <if test="org.sustcDB2019.entity.GoodsInWarehouse.goodsGoodsId != null">
      and goods_goods_id = #{goodsGoodsId,jdbcType=INTEGER}
    </if>
    <if test="org.sustcDB2019.entity.GoodsInWarehouse.amount != null">
      and amount = #{amount,jdbcType=INTEGER}
    </if>
    <if test="org.sustcDB2019.entity.GoodsInWarehouse.expiredDay != null">
      and expired_day = #{expiredDay,jdbcType=DATE}
    </if>
    <if test="orderByExpiredDay=true">
      order by expired_day;
    </if>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_in_warehouse
    where idgoods_in_warehouse = #{idgoodsInWarehouse,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_in_warehouse
    where idgoods_in_warehouse = #{idgoodsInWarehouse,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.sustcDB2019.entity.GoodsInWarehouse">
    insert into goods_in_warehouse (idgoods_in_warehouse, warehouse_warehouse_id, 
      goods_goods_id, amount, expired_day
      )
    values (#{idgoodsInWarehouse,jdbcType=INTEGER}, #{warehouseWarehouseId,jdbcType=INTEGER}, 
      #{goodsGoodsId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{expiredDay,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.sustcDB2019.entity.GoodsInWarehouse">
    insert into goods_in_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idgoodsInWarehouse != null">
        idgoods_in_warehouse,
      </if>
      <if test="warehouseWarehouseId != null">
        warehouse_warehouse_id,
      </if>
      <if test="goodsGoodsId != null">
        goods_goods_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="expiredDay != null">
        expired_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idgoodsInWarehouse != null">
        #{idgoodsInWarehouse,jdbcType=INTEGER},
      </if>
      <if test="warehouseWarehouseId != null">
        #{warehouseWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="goodsGoodsId != null">
        #{goodsGoodsId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="expiredDay != null">
        #{expiredDay,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.sustcDB2019.entity.GoodsInWarehouse">
    update goods_in_warehouse
    <set>
      <if test="warehouseWarehouseId != null">
        warehouse_warehouse_id = #{warehouseWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="goodsGoodsId != null">
        goods_goods_id = #{goodsGoodsId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="expiredDay != null">
        expired_day = #{expiredDay,jdbcType=DATE},
      </if>
    </set>
    where idgoods_in_warehouse = #{idgoodsInWarehouse,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sustcDB2019.entity.GoodsInWarehouse">
    update goods_in_warehouse
    set warehouse_warehouse_id = #{warehouseWarehouseId,jdbcType=INTEGER},
      goods_goods_id = #{goodsGoodsId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      expired_day = #{expiredDay,jdbcType=DATE}
    where idgoods_in_warehouse = #{idgoodsInWarehouse,jdbcType=INTEGER}
  </update>
</mapper>