<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sustcDB2019.dao.SalesMapper">
  <resultMap id="BaseResultMap" type="org.sustcDB2019.entity.Sales">
    <id column="sales_id" jdbcType="INTEGER" property="salesId" />
    <result column="goods_in_warehouse_idgoods_in_warehouse" jdbcType="INTEGER" property="goodsInWarehouseId" />
    <result column="customer_user_id" jdbcType="INTEGER" property="customerUserId" />
    <result column="goods_goods_id" jdbcType="INTEGER" property="goodsGoodsId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="payment" jdbcType="DECIMAL" property="payment" />
    <result column="is_paid" jdbcType="CHAR" property="isPaid" />
    <result column="order_order_id" jdbcType="INTEGER" property="orderOrderId" />
  </resultMap>

  <resultMap id="goodsWithAmount" type="org.sustcDB2019.entity.GoodsWithAmount">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="origin_place" jdbcType="VARCHAR" property="originPlace" />
    <result column="preserve_time" jdbcType="INTEGER" property="preserveTime" />
    <result column="volume" jdbcType="INTEGER" property="volume" />
    <result column="refrigirated_condition" jdbcType="CHAR" property="refrigiratedCondition" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="catagory" jdbcType="VARCHAR" property="catagory" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="am" javaType="INTEGER" property="amount"/>
  </resultMap>
  <sql id="Base_Column_List">
    sales_id, warehouse_warehouse_id, customer_user_id, goods_goods_id, amount, payment, 
    is_paid, order_order_id
  </sql>

<!-- my sql statement -->
  <select id="getSalesVolumeRank" resultMap="goodsWithAmount">
    select *
    from (select g.* , count(s.amount) am from sales s
             join goods_in_warehouse giw on s.goods_in_warehouse_idgoods_in_warehouse = giw.idgoods_in_warehouse
             join goods g on giw.goods_goods_id = g.goods_id
             <if test="warehouseId!=null"> where warehouse_warehouse_id= #{warehouseId} </if>
            group by goods_goods_id) s
    order by s.am DESC;
    limit #{itemsPerPage} offset #{pageIndex}
  </select>

  <select id="selectByCase" parameterType="org.sustcDB2019.entity.Sales" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sales
    where sales_id is not null
    <if test="warehouseWarehouseId != null">
      and warehouse_warehouse_id = #{warehouseWarehouseId,jdbcType=INTEGER},
    </if>
    <if test="customerUserId != null">
      and customer_user_id = #{customerUserId,jdbcType=INTEGER},
    </if>
    <if test="goodsGoodsId != null">
      and goods_goods_id = #{goodsGoodsId,jdbcType=INTEGER},
    </if>
    <if test="amount != null">
      and amount = #{amount,jdbcType=INTEGER},
    </if>
    <if test="payment != null">
      and payment = #{payment,jdbcType=DECIMAL},
    </if>
    <if test="isPaid != null">
      and is_paid = #{isPaid,jdbcType=CHAR},
    </if>
    <if test="orderOrderId != null">
      and order_order_id = #{orderOrderId,jdbcType=INTEGER},
    </if>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sales
    where sales_id = #{salesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sales
    where sales_id = #{salesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.sustcDB2019.entity.Sales">
    insert into sales (sales_id, warehouse_warehouse_id, customer_user_id, 
      goods_goods_id, amount, payment, 
      is_paid, order_order_id)
    values (#{salesId,jdbcType=INTEGER}, #{warehouseWarehouseId,jdbcType=INTEGER}, #{customerUserId,jdbcType=INTEGER}, 
      #{goodsGoodsId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{payment,jdbcType=DECIMAL}, 
      #{isPaid,jdbcType=CHAR}, #{orderOrderId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.sustcDB2019.entity.Sales">
    insert into sales
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="salesId != null">
        sales_id,
      </if>
      <if test="warehouseWarehouseId != null">
        warehouse_warehouse_id,
      </if>
      <if test="customerUserId != null">
        customer_user_id,
      </if>
      <if test="goodsGoodsId != null">
        goods_goods_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="isPaid != null">
        is_paid,
      </if>
      <if test="orderOrderId != null">
        order_order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="salesId != null">
        #{salesId,jdbcType=INTEGER},
      </if>
      <if test="warehouseWarehouseId != null">
        #{warehouseWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="customerUserId != null">
        #{customerUserId,jdbcType=INTEGER},
      </if>
      <if test="goodsGoodsId != null">
        #{goodsGoodsId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="isPaid != null">
        #{isPaid,jdbcType=CHAR},
      </if>
      <if test="orderOrderId != null">
        #{orderOrderId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.sustcDB2019.entity.Sales">
    update sales
    <set>
      <if test="warehouseWarehouseId != null">
        warehouse_warehouse_id = #{warehouseWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="customerUserId != null">
        customer_user_id = #{customerUserId,jdbcType=INTEGER},
      </if>
      <if test="goodsGoodsId != null">
        goods_goods_id = #{goodsGoodsId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="isPaid != null">
        is_paid = #{isPaid,jdbcType=CHAR},
      </if>
      <if test="orderOrderId != null">
        order_order_id = #{orderOrderId,jdbcType=INTEGER},
      </if>
    </set>
    where sales_id = #{salesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sustcDB2019.entity.Sales">
    update sales
    set warehouse_warehouse_id = #{warehouseWarehouseId,jdbcType=INTEGER},
      customer_user_id = #{customerUserId,jdbcType=INTEGER},
      goods_goods_id = #{goodsGoodsId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      payment = #{payment,jdbcType=DECIMAL},
      is_paid = #{isPaid,jdbcType=CHAR},
      order_order_id = #{orderOrderId,jdbcType=INTEGER}
    where sales_id = #{salesId,jdbcType=INTEGER}
  </update>
</mapper>