<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sustcDB2019.dao.WarehouseMapper">
  <resultMap id="BaseResultMap" type="org.sustcDB2019.entity.Warehouse">
    <id column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="refrigerated_shelf_volume" jdbcType="INTEGER" property="refrigeratedShelfVolume" />
    <result column="ordinary_shelf_volume" jdbcType="INTEGER" property="ordinaryShelfVolume" />
    <result column="warehouse_long" jdbcType="DECIMAL" property="warehouseLong" />
    <result column="warehouse_lati" jdbcType="DECIMAL" property="warehouseLati" />
  </resultMap>
  <sql id="Base_Column_List">
    warehouse_id, address, refrigerated_shelf_volume, ordinary_shelf_volume, warehouse_long, 
    warehouse_lati
  </sql>
  
<!-- my sql statement -->
  <select id="selectAll" resultMap="BaseResultMap">
    select * from warehouse;
  </select>
  <select id="getNonRefriOccupVolume" parameterType="int" resultType="int">
    select sum(giw.amount*g.volume)
    from ( select * from goods_in_warehouse where warehouse_warehouse_id=#{warehouseId}) giw
    join goods g on giw.goods_goods_id=g.goods_id
   where g.refrigirated_condition='Y'
    group by g.refrigirated_condition;

  </select>
  <select id="getRefriOccupVolume" parameterType="int" resultType="int" >
    select sum(giw.amount*g.volume)
    from ( select * from goods_in_warehouse where warehouse_warehouse_id=#{warehouseId}) giw
    join goods g on giw.goods_goods_id=g.goods_id
   where g.refrigirated_condition='N'
    group by g.refrigirated_condition;
  </select>

  <select id="getNonRefriRestVolume" parameterType="int" resultType="int">
    select ordinary_shelf_volume-a.summ
    from warehouse w
    where w.warehouse_id=#{warehouseId};
  </select>
  <select id="getRefriRestVolume" parameterType="java.lang.Integer" resultType="int">
    select w.refrigerated_shelf_volume - @y
    from warehouse w
    where w.warehouse_id=#{warehouseId, jdbcType=INTEGER};
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warehouse
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warehouse
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.sustcDB2019.entity.Warehouse">
    insert into warehouse (warehouse_id, address, refrigerated_shelf_volume, 
      ordinary_shelf_volume, warehouse_long, warehouse_lati
      )
    values (#{warehouseId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{refrigeratedShelfVolume,jdbcType=INTEGER}, 
      #{ordinaryShelfVolume,jdbcType=INTEGER}, #{warehouseLong,jdbcType=DECIMAL}, #{warehouseLati,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.sustcDB2019.entity.Warehouse">
    insert into warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="refrigeratedShelfVolume != null">
        refrigerated_shelf_volume,
      </if>
      <if test="ordinaryShelfVolume != null">
        ordinary_shelf_volume,
      </if>
      <if test="warehouseLong != null">
        warehouse_long,
      </if>
      <if test="warehouseLati != null">
        warehouse_lati,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="refrigeratedShelfVolume != null">
        #{refrigeratedShelfVolume,jdbcType=INTEGER},
      </if>
      <if test="ordinaryShelfVolume != null">
        #{ordinaryShelfVolume,jdbcType=INTEGER},
      </if>
      <if test="warehouseLong != null">
        #{warehouseLong,jdbcType=DECIMAL},
      </if>
      <if test="warehouseLati != null">
        #{warehouseLati,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.sustcDB2019.entity.Warehouse">
    update warehouse
    <set>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="refrigeratedShelfVolume != null">
        refrigerated_shelf_volume = #{refrigeratedShelfVolume,jdbcType=INTEGER},
      </if>
      <if test="ordinaryShelfVolume != null">
        ordinary_shelf_volume = #{ordinaryShelfVolume,jdbcType=INTEGER},
      </if>
      <if test="warehouseLong != null">
        warehouse_long = #{warehouseLong,jdbcType=DECIMAL},
      </if>
      <if test="warehouseLati != null">
        warehouse_lati = #{warehouseLati,jdbcType=DECIMAL},
      </if>
    </set>
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sustcDB2019.entity.Warehouse">
    update warehouse
    set address = #{address,jdbcType=VARCHAR},
      refrigerated_shelf_volume = #{refrigeratedShelfVolume,jdbcType=INTEGER},
      ordinary_shelf_volume = #{ordinaryShelfVolume,jdbcType=INTEGER},
      warehouse_long = #{warehouseLong,jdbcType=DECIMAL},
      warehouse_lati = #{warehouseLati,jdbcType=DECIMAL}
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </update>
</mapper>